.container{
    display: flex;
    flex-direction: column;
    max-width: 30vw;
    margin: auto;
}

input{
    margin-bottom: 1rem;
    padding: .5rem;
}

button{
    padding:0.5rem;
}
#message{
    margin-top: 1rem;
    text-align: center;
    font-size: large;
    font-weight: bold;
}